{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        <!-- titre -->
        <div class="text-left">
            <img src="{{ app.request.getBasePath()~'/banniere.jpg' }}" >
        </div>

        <!-- menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.formations') }}">Formations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.niveaux') }}">Niveaux</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- bouton de déconnexion pour admin -->
    <div class="container text-right">
        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="btn btn-outline-dark"> Déconnectez-vous </a>
        {% endif %}
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}